.Nav {
  margin-left: auto;
}

.Nav a {
  text-decoration: none;
  padding: 0 10px;
}

.Nav .active {
  color: #6c757d !important;
}

.nav-item .active {
  color: white !important;
}
.dropdown-item a {
  color: black
}

.dropdown-menu {
  display: none;
  min-width: 200px;
}

.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  color: rgb(33, 37, 41);
}

.dropdown-menu .active {
  color: white !important;
  background-color: rgb(13, 110, 253) !important;
}